[PIRATERADIO]
frequency=108.0
btGain=1.7
storageGain=1
treble=0
output=fm
btBoost=false
implementation=pi_fm_adv

[PLAYLIST]
persistentPlaylist=true
resumePlayback=true
shuffle=false 
fileFormat=all

[RDS]
updateInterval=3
charsJump=6
stationName=JVR-FM
rdsPattern=JVR-FM - $ARTIST_NAME - $SONG_NAME